/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Delius&family=Hanuman:wght@100..900&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=family=Barlow + Condensed:ital, wght@0, 100;0, 200;0, 300;0, 400;0, 500;0, 600;0, 700;0, 800;0, 900;1, 100;1, 200;1, 300;1, 400;1, 500;1, 600;1, 700;1, 800;1, 900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Google Dosis Font */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
/* Google Rajdhani Font */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,0..1;1,300..800,0..1&display=swap');


:root {
    --base-font-size: 0.875rem;
    --base-font-size-md: 0.875rem;
    --base-font-family: 'Inter', sans-serif;

    --ssv-pharma-blue: #0B83CD;
    --ssv-pharma-blue-50: #F1F8FE;
    --ssv-pharma-blue-100: #E1F1FD;
    --ssv-pharma-blue-200: #BDE2FA;
    --ssv-pharma-blue-300: #82CCF7;
    --ssv-pharma-blue-400: #40B3F0;
    --ssv-pharma-blue-500: #179AE0;
    --ssv-pharma-blue-600: #0B83CD;
    --ssv-pharma-blue-700: #0A619A;
    --ssv-pharma-blue-800: #0C5280;
    --ssv-pharma-blue-900: #10456A;
    --ssv-pharma-blue-950: #0B2C46;
    --ssv-pharma-green: #01A54E;
    --vic-en-font-size-base: 10pt;
    --vic-en-font-base: 'Inter', sans-serif;
    --vic-kh-font-size-base: 12pt;
    --vic-kh-font-base: "Koh Santepheap", sans-serif;
    /*PRUDENTIAL THEME COLORS */
    --pru-red: #ED1B2E;
    --pru-light-grey: #F7F7F7;
    --pru-grey: #E5EAEF;
    --pru-dark: #1F1F1F;
    --vic-primary: #009EF7;
    --vic-priamry-active: #0095e8;
    --vic-success-active: #47be7d;
    /*#region METRONIC THEME COLORS */
    --metronic-warning-light: #FFF8DD;
    --metronic-warning: #FFC700;
    --metronic-success: #50CD89;
    --metronic-primary-light: #F1FAFF;
    --metronic-primary: #009EF7;
    --metronic-primary-active: #0095E8;
    --metronic-success-light: #E8FFF3;
    --metronic-danger: #F1416C;
    --metronic-danger-light: #FFF5F8;
    --metronic-gray: #7E8299;
    --metronic-gray-dark: #3F4254;
    --metronic-gray-100: #F9F9F9;
    --metronic-gray-200: #F4F4F4;
    --metronic-gray-300: #E1E3EA;
    --metronic-gray-400: #B5B5C3;
    --metronic-gray-500: #A1A5B7;
    --metronic-gray-600: #7E8299;
    --metronic-gray-700: #5E6278;
    --metronic-gray-800: #3F4254;
    --metronic-gray-900: #181C32;

    --telegram-blue: #24A1DE;
    --facebook-blue: #1877f2;
    --google-red-old: #EA4335;
    --google-red: #DB4437;
    --google-green-old: #34A853; 
    --google-green: #0F9D58;
    --google-blue: #4285F4;
    --google-green: #34A853;
    --google-allo-yellow: #FBBC05;
    --google-yellow: #F4B400;

    --google-green-50: #effef6;
    --google-green-100: #dbfdec;
    --google-green-200: #b9f9d8;
    --google-green-300: #82f3bb;
    --google-green-400: #44e495;
    --google-green-500: #1bcc76;
    --google-green-600: #0f9d58;
    --google-green-700: #11844d;
    --google-green-800: #13683f;
    --google-green-900: #115636;
    --google-green-950: #03301d;

    --tw-red-50: #FEF2F2;
    --tw-red-100: #FFE2E2;
    --tw-red-200: #FFC9C9;
    --tw-red-300: #FFA2A2;
    --tw-red-400: #FF6467;
    --tw-red-500: #FB2C36;
    --tw-red-600: #E7000B;
    --tw-red-700: #C10007;
    --tw-red-800: #9F0712;
    --tw-red-900: #82181A;
    --tw-red-950: #460809;
    --tw-orange-50: #FFF7ED;
    --tw-orange-100: #FFEDD4;
    --tw-orange-200: #FFD6A7;
    --tw-orange-300: #FFB86A;
    --tw-orange-400: #FF8904;
    --tw-orange-500: #FF6900;
    --tw-orange-600: #F54900;
    --tw-orange-700: #CA3500;
    --tw-orange-800: #9F2D00;
    --tw-orange-900: #7E2A0C;
    --tw-orange-950: #441306;
    --tw-amber-50: #FFFBEB;
    --tw-amber-100: #FEF3C6;
    --tw-amber-200: #FEE685;
    --tw-amber-300: #FFD230;
    --tw-amber-400: #FFB900;
    --tw-amber-500: #FE9A00;
    --tw-amber-600: #E17100;
    --tw-amber-700: #BB4D00;
    --tw-amber-800: #973C00;
    --tw-amber-900: #7B3306;
    --tw-amber-950: #461901;
    --tw-yellow-50: #FEFCE8;
    --tw-yellow-100: #FEF9C2;
    --tw-yellow-200: #FFF085;
    --tw-yellow-300: #FFDF20;
    --tw-yellow-400: #FDC700;
    --tw-yellow-500: #F0B100;
    --tw-yellow-600: #D08700;
    --tw-yellow-700: #A65F00;
    --tw-yellow-800: #894B00;
    --tw-yellow-900: #733E0A;
    --tw-yellow-950: #432004;
    --tw-lime-50: #F7FEE7;
    --tw-lime-100: #ECFCCA;
    --tw-lime-200: #D8F999;
    --tw-lime-300: #BBF451;
    --tw-lime-400: #9AE600;
    --tw-lime-500: #7CCF00;
    --tw-lime-600: #5EA500;
    --tw-lime-700: #497D00;
    --tw-lime-800: #3C6300;
    --tw-lime-900: #35530E;
    --tw-lime-950: #192E03;
    --tw-green-50: #F0FDF4;
    --tw-green-100: #DCFCE7;
    --tw-green-200: #B9F8CF;
    --tw-green-300: #7BF1A8;
    --tw-green-400: #05DF72;
    --tw-green-500: #00C950;
    --tw-green-600: #00A63E;
    --tw-green-700: #008236;
    --tw-green-800: #016630;
    --tw-green-900: #0D542B;
    --tw-green-950: #032E15;
    --tw-emerald-50: #ECFDF5;
    --tw-emerald-100: #D0FAE5;
    --tw-emerald-200: #A4F4CF;
    --tw-emerald-300: #5EE9B5;
    --tw-emerald-400: #00D492;
    --tw-emerald-500: #00BC7D;
    --tw-emerald-600: #009966;
    --tw-emerald-700: #007A55;
    --tw-emerald-800: #006045;
    --tw-emerald-900: #004F3B;
    --tw-emerald-950: #002C22;
    --tw-teal-50: #F0FDFA;
    --tw-teal-100: #CBFBF1;
    --tw-teal-200: #96F7E4;
    --tw-teal-300: #46ECD5;
    --tw-teal-400: #00D5BE;
    --tw-teal-500: #00BBA7;
    --tw-teal-600: #009689;
    --tw-teal-700: #00786F;
    --tw-teal-800: #005F5A;
    --tw-teal-900: #0B4F4A;
    --tw-teal-950: #022F2E;
    --tw-cyan-50: #ECFEFF;
    --tw-cyan-100: #CEFAFE;
    --tw-cyan-200: #A2F4FD;
    --tw-cyan-300: #53EAFD;
    --tw-cyan-400: #00D3F2;
    --tw-cyan-500: #00B8DB;
    --tw-cyan-600: #0092B8;
    --tw-cyan-700: #007595;
    --tw-cyan-800: #005F78;
    --tw-cyan-900: #005F78;
    --tw-cyan-950: #053345;
    --tw-sky-50: #F0F9FF;
    --tw-sky-100: #DFF2FE;
    --tw-sky-200: #B8E6FE;
    --tw-sky-300: #74D4FF;
    --tw-sky-400: #00BCFF;
    --tw-sky-500: #00A6F4;
    --tw-sky-600: #0084D1;
    --tw-sky-700: #0069A8;
    --tw-sky-800: #00598A;
    --tw-sky-900: #024A70;
    --tw-sky-950: #052F4A;
    --tw-blue-50: #EFF6FF;
    --tw-blue-100: #DBEAFE;
    --tw-blue-200: #BEDBFF;
    --tw-blue-300: #8EC5FF;
    --tw-blue-400: #51A2FF;
    --tw-blue-500: #2B7FFF;
    --tw-blue-600: #155DFC;
    --tw-blue-700: #1447E6;
    --tw-blue-800: #193CB8;
    --tw-blue-900: #1C398E;
    --tw-blue-950: #162456;
    --tw-indigo-50: #EEF2FF;
    --tw-indigo-100: #E0E7FF;
    --tw-indigo-200: #C6D2FF;
    --tw-indigo-300: #A3B3FF;
    --tw-indigo-400: #7C86FF;
    --tw-indigo-500: #615FFF;
    --tw-indigo-600: #4F39F6;
    --tw-indigo-700: #432DD7;
    --tw-indigo-800: #372AAC;
    --tw-indigo-900: #312C85;
    --tw-indigo-950: #1E1A4D;
    --tw-violet-50: #F5F3FF;
    --tw-violet-100: #EDE9FE;
    --tw-violet-200: #DDD6FF;
    --tw-violet-300: #C4B4FF;
    --tw-violet-400: #A684FF;
    --tw-violet-500: #8E51FF;
    --tw-violet-600: #7F22FE;
    --tw-violet-700: #7008E7;
    --tw-violet-800: #5D0EC0;
    --tw-violet-900: #4D179A;
    --tw-violet-950: #2F0D68;
    --tw-purple-50: #FAF5FF;
    --tw-purple-100: #F3E8FF;
    --tw-purple-200: #E9D4FF;
    --tw-purple-300: #DAB2FF;
    --tw-purple-400: #C27AFF;
    --tw-purple-500: #AD46FF;
    --tw-purple-600: #9810FA;
    --tw-purple-700: #8200DB;
    --tw-purple-800: #6E11B0;
    --tw-purple-900: #59168B;
    --tw-purple-950: #3C0366;
    --tw-fuchsia-50: #FDF4FF;
    --tw-fuchsia-100: #FAE8FF;
    --tw-fuchsia-200: #F6CFFF;
    --tw-fuchsia-300: #F4A8FF;
    --tw-fuchsia-400: #ED6AFF;
    --tw-fuchsia-500: #E12AFB;
    --tw-fuchsia-600: #C800DE;
    --tw-fuchsia-700: #A800B7;
    --tw-fuchsia-800: #8A0194;
    --tw-fuchsia-900: #721378;
    --tw-fuchsia-950: #4B004F;
    --tw-pink-50: #FFF1F2;
    --tw-pink-100: #FFE4E6;
    --tw-pink-200: #FCCEE8;
    --tw-pink-300: #FDA5D5;
    --tw-pink-400: #FB64B6;
    --tw-pink-500: #F6339A;
    --tw-pink-600: #E60076;
    --tw-pink-700: #C6005C;
    --tw-pink-800: #A3004C;
    --tw-pink-900: #861043;
    --tw-pink-950: #510424;
    --tw-rose-50: #FFF1F2;
    --tw-rose-100: #FFE4E6;
    --tw-rose-200: #FFCCD3;
    --tw-rose-300: #FFA1AD;
    --tw-rose-400: #FF637E;
    --tw-rose-500: #FF2056;
    --tw-rose-600: #EC003F;
    --tw-rose-700: #C70036;
    --tw-rose-800: #A50036;
    --tw-rose-900: #8B0836;
    --tw-rose-950: #4D0218;
    --tw-stone-50: #FAFAF9;
    --tw-stone-100: #F5F5F4;
    --tw-stone-200: #E7E5E4;
    --tw-stone-300: #D6D3D1;
    --tw-stone-400: #A6A09B;
    --tw-stone-500: #79716B;
    --tw-stone-600: #57534D;
    --tw-stone-700: #44403B;
    --tw-stone-800: #292524;
    --tw-stone-900: #1C1917;
    --tw-stone-950: #0C0A09;
    --tw-neutral-50: #FAFAFA;
    --tw-neutral-100: #F5F5F5;
    --tw-neutral-200: #E5E5E5;
    --tw-neutral-300: #D4D4D4;
    --tw-neutral-400: #A1A1A1;
    --tw-neutral-500: #737373;
    --tw-neutral-600: #525252;
    --tw-neutral-700: #404040;
    --tw-neutral-800: #262626;
    --tw-neutral-900: #171717;
    --tw-neutral-950: #0A0A0A;
    --tw-zinc-50: #FAFAFA;
    --tw-zinc-100: #F4F4F5;
    --tw-zinc-200: #E4E4E7;
    --tw-zinc-300: #D4D4D8;
    --tw-zinc-400: #9F9FA9;
    --tw-zinc-500: #71717B;
    --tw-zinc-600: #52525C;
    --tw-zinc-700: #3F3F46;
    --tw-zinc-800: #27272A;
    --tw-zinc-900: #18181B;
    --tw-zinc-950: #09090B;
    --tw-gray-50: #F9FAFB;
    --tw-gray-100: #F3F4F6;
    --tw-gray-200: #E5E7EB;
    --tw-gray-300: #D1D5DC;
    --tw-gray-400: #99A1AF;
    --tw-gray-500: #6A7282;
    --tw-gray-600: #4A5565;
    --tw-gray-700: #364153;
    --tw-gray-800: #1E2939;
    --tw-gray-900: #101828;
    --tw-gray-950: #030712;
    --tw-slate-50: #F8FAFC;
    --tw-slate-100: #F1F5F9;
    --tw-slate-200: #E2E8F0;
    --tw-slate-300: #CAD5E2;
    --tw-slate-400: #90A1B9;
    --tw-slate-500: #62748E;
    --tw-slate-600: #45556C;
    --tw-slate-700: #314158;
    --tw-slate-800: #1D293D;
    --tw-slate-900: #0F172B;
    --tw-slate-950: #020618;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.moog-font-mono {
    font-family: "Google Sans Code", monospace !important;
    font-optical-sizing: auto  !important;
    font-weight: 400  !important;
    font-style: normal !important;
    font-variation-settings:
    "MONO" 1 !important;
}


/*#region FONT: Bebas Neue*/
.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*#endregion*/

/*#region FONT: Barlow */
.barlow-condensed-thin {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.barlow-condensed-extralight {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.barlow-condensed-light {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-condensed-medium {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.barlow-condensed-semibold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.barlow-condensed-bold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.barlow-condensed-extrabold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.barlow-condensed-black {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.barlow-condensed-thin-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.barlow-condensed-extralight-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.barlow-condensed-light-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.barlow-condensed-regular-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.barlow-condensed-medium-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.barlow-condensed-semibold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.barlow-condensed-bold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.barlow-condensed-extrabold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.barlow-condensed-black-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.barlow-thin {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.barlow-extralight {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.barlow-light {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-medium {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.barlow-bold {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.barlow-extrabold {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.barlow-black {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.barlow-thin-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.barlow-extralight-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.barlow-light-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.barlow-regular-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.barlow-medium-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.barlow-semibold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.barlow-bold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.barlow-extrabold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.barlow-black-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/*#endregion*/

/*#region FONT: Koh Santepheap */
.koh-santepheap-thin {
    font-family: "Koh Santepheap", serif;
    font-weight: 100;
    font-style: normal;
}

.koh-santepheap-light {
    font-family: "Koh Santepheap", serif;
    font-weight: 300;
    font-style: normal;
}

.koh-santepheap-regular {
    font-family: "Koh Santepheap", serif !important;
    font-weight: 400;
    font-style: normal;
}

.koh-santepheap-bold {
    font-family: "Koh Santepheap", serif !important;
    font-weight: 700;
    font-style: normal;
}

.koh-santepheap-black {
    font-family: "Koh Santepheap", serif;
    font-weight: 900;
    font-style: normal;
}

/*#endregion*/

/*#region FONT: Hanuman*/
.hanuman-thin {
    font-family: "Hanuman", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.hanuman-extra-light {
    font-family: "Hanuman", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.hanuman-light {
    font-family: "Hanuman", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.hanuman-regular {
    font-family: "Hanuman", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hanuman-medium {
    font-family: "Hanuman", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.hanuman-semi-bold {
    font-family: "Hanuman", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.hanuman-bold {
    font-family: "Hanuman", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.hanuman-bold {
    font-family: "Hanuman", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.hanuman-extra-bold {
    font-family: "Hanuman", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.hanuman-black {
    font-family: "Hanuman", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/*#endregion*/

/*#region FONT: Dosis*/
.dosis-extralight {
    font-family: "Dosis", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 200 !important;
    font-style: normal;
}

.dosis-light {
    font-family: "Dosis", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300 !important;
    font-style: normal;
}

.dosis-regular {
    font-family: "Dosis", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
}

.dosis-medium {
    font-family: "Dosis", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500 !important;
    font-style: normal;
}

.dosis-semibold {
    font-family: "Dosis", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 600 !important;
    font-style: normal;
}

.dosis-bold {
    font-family: "Dosis", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
}

.dosis-extrabold {
    font-family: "Dosis", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 800 !important;
    font-style: normal;
}

/*#endregion*/

/*#region FONT: Rajdhani*/
.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*#endregion*/

/*#region FONT: Reddit Mono */
.reddit-mono-200 {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.reddit-mono-300 {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.reddit-mono-400 {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.reddit-mono-500 {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.reddit-mono-600 {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.reddit-mono-700 {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.reddit-mono-800 {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.reddit-mono-900 {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/*#endregion */

/*#region FONT: Google Sans Code */
.google-sans-code-300 {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "MONO" 0;
}

.google-sans-code-400 {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MONO" 0;
}

.google-sans-code-500 {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "MONO" 0;
}

.google-sans-code-600 {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "MONO" 0;
}

.google-sans-code-700 {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "MONO" 0;
}

.google-sans-code-800 {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
    "MONO" 1;
}
/*endregion*/